nav {
    @apply bg-[var(--bg_color)] text-[var(--text_color)];

    .container {
        @apply flex justify-between items-center;

        .branding {
            .title {
                @apply font-bold text-xl;
            }
        }

        .links {
            @apply flex gap-8;

            a {
                @apply font-semibold;
            }
        }
    }
}
