button,
.btn {
    border: none;
    border-radius: 32px;
    padding: 16px 32px;
    font-size: 1rem;
    letter-spacing: 0.28px;
    font-weight: bold;
    background: $theme_color;
    color: #fff;
    margin: 1em 0;
    transition: 0.3s ease-in-out;
    text-align: center;

    &:hover {
        background: transparent;
        color: $element_background;
        border: 1px solid $element_background;
        box-shadow: 2px 2px 8px $faded_text;
    }
}

.btn_transparent {
    background: transparent;
    color: $element_background;
    border: 1px solid $element_background;

    &:hover {
        color: $element_color;
        background: $element_background;
        box-shadow: 2px 2px 8px $faded_text;
    }
}