footer {
    .container {
        padding: 32px 5%;
        display: grid;
        gap: 2em;

        .brand {
            p {
                &:first-of-type {
                    font-weight: bold;
                    font-size: 2.4em;
                }

                &:nth-of-type(2) {
                    font-size: 1.6em;
                }

                &:nth-of-type(3) {
                    margin: 1em 0;
                    font-size: 1.16em;
                }
            }
        }

        .links {
            display: grid;
            gap: 0.5em;

            a {
                font-weight: bold;
                &:hover {
                    color: $faded_text;
                }
            }
        }

        .contact {
            p {
                &:first-of-type {
                    font-size: 2em;
                    font-weight: bold;
                }

                &:nth-of-type(2) {
                    font-size: 1.2em;
                }
            }
        }
    }

    .copyright {
        padding: 24px;
        text-align: center;
        border-top: 1px solid $faded_line;
    }
}

@media screen and (min-width: 1024px) {
    footer {
        .container {
            grid-template-columns: 40% 1fr 1fr;
        }
    }
}