$theme_background: #f4efca;
$theme_color: #f66435;
$text_color: #000;

$navbar_background: $theme_background;
$navbar_color: $theme_color;

$faded_text: grey;
$faded_line: rgb(211, 211, 211);
$link_color: blue;

$element_background: #000;
$element_color: #fff;