---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Fragment slot="head">
		<title>Alex Aaqil | Software Engineer</title>
		<meta name="description" content="Alex Aaqil is a software engineer with a specialization in web development." />
		<meta property="og:title" content="Alex Aaqil | Sofware Engineer" />
		<meta name="robots" content="index, follow" />
	</Fragment>

	<div class="HomePage">
		<section class="Hero">
			<h1>Testing Run</h1>
		</section>
	</div>
</Layout>
