<nav>
    <div class="container">
        <div class="branding">
            <a href="/" class="title">Alex Aaqil</a>
        </div>

        <div class="links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
</nav>
