---
import GithubIcon from './svgs/github.astro';
import LinkedinIcon from './svgs/linkedin.astro';
import WhatsappIcon from './svgs/whatsapp.astro';
import InstagramIcon from './svgs/instagram.astro';
---

<div class="SocialLinks">
    <a href="#" target="_blank" rel="noopener noreferer">
        <GithubIcon />
    </a>

    <a href="#" target="_blank" rel="noopener noreferer">
        <LinkedinIcon />
    </a>

    <a href="#" target="_blank" rel="noopener noreferer">
        <InstagramIcon />
    </a>

    <a href="https://wa.me/254746055487" target="_blank" rel="noopener noreferer">
        <WhatsappIcon />
    </a>
</div>
