@import "tailwindcss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
    /* outline: 1px solid blue; */
}

body {
    background: #000;
    color: #fff;
}

:root {
    --bg_color: #000;
    --text_color: #fff;
    --theme_bg: #ac8102;
}

.container {
    @apply px-2 lg:px-16 py-4 mx-auto;
}

.image,
img {
    @apply rounded-lg;
}
.image {
    img {
        @apply w-full h-full object-cover;
    }
}

.SocialLinks {
    @apply flex gap-4;
}

@import './components/buttons.css';
@import './components/navbar.css';
@import './components/footer.css';

@import "./HomePage.css";
