.HomePage {
    section {
        &:not(:first-of-type) {
            @apply py-12 lg:py-16;
        }

        .section_header {
            @apply text-center space-y-1 mb-12;

            h2 {
                @apply font-bold text-4xl text-[var(--theme_bg)];
            }
        }
    }

    .Hero {
        .container {
            @apply lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center;

            .content {
                @apply space-y-4;

                h1 {
                    @apply font-bold text-8xl;
                }

                p {
                    @apply text-xl;
                }

                .hero_btn {
                    @apply my-6;

                    a {
                        @apply bg-[var(--theme_bg)] text-white font-semibold tracking-wide py-4 px-4 rounded-lg;
                    }
                }

                .SocialLinks {
                    @apply mt-8;

                    svg {
                        @apply fill-white;
                    }
                }
            }
        }

        .image {
            @apply lg:h-[500px];

            img {
                @apply object-contain;
            }
        }
    }

    .Projects {
        .container {
            .projects {
                @apply grid grid-cols-1 lg:grid-cols-3 gap-8;

                .project {
                    .image {
                        @apply h-[400px];

                        img {
                            @apply object-top;
                        }
                    }

                    .content {
                        @apply px-2 py-2 space-y-1;

                        .title {
                            @apply font-bold text-lg;
                        }

                        .tags {
                            @apply flex gap-4;

                            span {
                                @apply text-xs text-gray-200 py-1;
                            }
                        }
                    }
                }
            }
        }
    }

    .Experiences {
        .experiences {
            @apply grid grid-cols-1 lg:grid-cols-3 gap-8;

            .experience {
                @apply justify-self-center;

                .title {
                    @apply font-bold text-lg mb-2;
                }

                ul {
                    @apply list-disc list-outside md:list-inside;
                }
            }
        }
    }
}
